# dependencies (bun install)
node_modules

# code coverage
coverage

# dotenv environment variable files
.env.local
.env.production

# trigger.dev
.trigger

# Finder (MacOS) folder config
.DS_Store

# image references
src/image/reference/*
!src/image/reference/.gitkeep
